/* Colors */

/*
60% of #0DF24A -Primary
30% of #4A0DF2 -Secondary
10% of #F24A0D -Third
*/

:root {

    /* var(--primaryColor) !important; */
    --primaryColor: #0DF24A;

    /* var(--secondaryColor) !important; */
    --secondaryColor: #4A0DF2;

    /* var(--accentColor) !important; */
    --accentColor: #F24A0D;
    
}