@import 'global.css';
@import 'main.css';

.col {border: 1px solid black;

}


.col:nth-of-type(2) {
    background-color: blue;
}

.col:nth-of-type(3) {
    background-color: rgb(0, 255, 94);
}

.col:nth-of-type(4) {
    background-color: rgb(225, 147, 14);
}
.col:nth-of-type(5) {
    background-color: rgb(159, 18, 229);
}
.col:nth-of-type(6) {
    background-color: rgb(193, 222, 8);
}
.col:nth-of-type(7) {
    background-color: rgb(131, 36, 36);
}
.col:nth-of-type(8) {
    background-color: rgb(235, 60, 189);
}
.col:nth-of-type(9) {
    background-color: rgb(237, 242, 182);
}
.col:nth-of-type(10) {
    background-color: rgb(11, 191, 161);
}
.col:nth-of-type(11) {
    background-color: rgb(236, 225, 234);
}
.col:nth-of-type(12) {
    background-color: rgb(24, 199, 208);
}